@charset "utf-8";
hr.style-one {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
hr.style-second {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
 #body {
    height: 100%;
}
#CheckoutForm{
	margin-left: 500px;
	margin-bottom: 100px;
	padding: 30px;
	font-size: 10px;
	min-height: 100%;
}
#CheckoutTitle{
	margin-top: 10%;;
	margin-left: 25%;
	font-family:"微軟正黑體";
	font-weight:bold;
	color: #4D3F37;
}
#subtitle{

	font-family:"微軟正黑體";
	font-weight:bold;
	color: #563705;
}
#subtitle1{
	font-family:"微軟正黑體";
	font-weight:bold;
	color: #563705;
}
#select{
	width:100px;
	padding:3px;
	font-size: 15px;
}
#select1{
	width:100px;
	padding:3px;
	font-size: 15px;
}
#leftform{
	background-color: #F7F7F2;
    width: 300px;
    height: 400px;
	margin-bottom: 100px;
    padding: 20px;
	padding-bottom: 100px;
	float: left;
}
#rightform{
	background-color: #F7F7F2;
	width: 300px;
	height: 200px;
	margin-bottom: 100px;
	margin-left: 100px;
	padding: 20px;
	padding-bottom: 100px;
	float: left;
}
#underform{
    width:300px;
	height: 300px;
	margin-bottom: 100px;
	margin-left: 100px;
	float: left;
}
#reviewform{
	margin-left: 320px;
	margin-bottom: 50px;
	padding: 20px;
	font-size: 15px;
}
#label1{
	font-size: 18px;
}
#label2{
	font-size: 18px;
}
#label3{
	font-size: 18px;
}
#label4{
	font-size: 18px;
}

#label5{
	font-size: 18px;
}
#label6{
	font-size: 18px;
}
#delivery1{
	font-size: 15px;
}
#priceTotal{
	font-size: 15px;
}
#all{
	font-size: 18px;
	color: crimson;
}
#secondform{
	background-color: #F7F7F2;
    width: 450px;
    height: 400px;
	margin-bottom: 100px;
    padding: 20px;
	padding-bottom: 50px;
	float: left;
}
#exampleInputName{
	font-size: 18px;
}
#phonenumber{
	font-size: 18px;
}
#exampleInputEmail1{
	font-size: 18px;
}
#Address{
	font-size: 18px;
}
#select{
	font-size: 18px;
}
#select1{
font-size: 18px;
}
#buyprice{
	font-size: 18px;
}